.header-container {
  background-color: #272727;
  padding: 10px;
}
.list-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}
.logo-container {
  margin-left: 30px;
}
.nav-links-container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
  width: 20%;
}
.nav-to-name {
  color: white;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 23px;
}
.logout-button {
  color: white;
  background-color: blueviolet;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.nav-link {
  text-decoration: none;
}
.nav-icon {
  color: white;
  font-size: 20%;
}
@media screen and (min-width: 768px) {
  .nav-icon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-to-name {
    display: none;
  }

  .logout-button {
    display: none;
  }
  .logo {
    width: 200%;
    height: 200%;
  }
  .logo-container {
    width: 20%;
  }
  .nav-links-container {
    width: 40%;
  }
}
